{% extends 'base.html' %}

{% block title %}This is home.{% endblock %}

{% block header %}
        <!-- Page Header-->
        <header class="masthead" style="background-image: url('{{url_for('static', filename = 'assets/img/ipad.png')}}')">
            <div class="container position-relative px-4 px-lg-5">
                <div class="row gx-4 gx-lg-5 justify-content-center">
                    <div class="col-md-10 col-lg-8 col-xl-7">
                        <div class="page-heading">
                            <h1>Category</h1>
                        </div>
                    </div>
                </div>
            </div>
        </header>
    {% endblock %}

    {% block content %}
        <!-- Post Content-->
        <article class="mb-4">
            <div class="container px-4 px-lg-5">
                <div class="row gx-4 gx-lg-5 justify-content-center">
                        <p><h1>Python</h1></p>
                        <hr>
                        <p><h1>JavaScript</h1></p>
                </div>
            </div>
        </article>
    {% endblock %}